<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
تفریحی
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این تمرین قصد داریم به پیشبینی دلیل سفر کاربران بپردازیم. برخی از کاربران مستربلیط به دلیل کاری و برخی دیگر به دلایل تفریحی به سفر می‌روند. به منظور شخصی‌سازی بیشتر و دقیق‌تر، مستربلیط قصد دارد بداند هر بلیط به چه دلیلی رزرو می‌شود.
    <br>
    حال از داده‌هایی که در اختیارتان قرار گرفته است استفاده کنید و مدلی آموزش دهید که تفریحی یا کاری بودن سفر را تشخیص دهد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
وارد کردن کتابخانه‌های مورد نیاز
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ابتدا کتابخانه‌های مورد نیازتان را وارد کنید.
</font>
</p>

In [1]:
import pandas as pd
import numpy as np

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
مجموعه داده آموزشی شامل ۱۰۱۰۱۷ سطر است که در جدول زیر، توضیحات هر ستون آمده است.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|Created|زمان ثبت بلیط|
|CancelTime|زمانی که مسافر بلیط را کنسل کرده است|
|DepartureTime|زمان حرکت|
|BillID|شناسه خرید|
|TicketID|شناسه بلیط|
|ReserveStatus|وضعیت پرداخت مشتری|
|UserID|شناسه کاربری|
|Male|آیا بلیط متعلق به زن است یا مرد|
|Price|قیمت بلیط بدون تخفیف|
|CouponDiscount|تخفیفی که شخص روی بلیط اعمال کرده است|
|From|مبدا سفر|
|To|مقصد سفر|
|Domestic|آیا سفر، داخلی است یا خارجی|
|VehicleType|جزئیات وسیله نقلیه را مشخص می‌کند|
|VehicleClass|آیا وسیله نقلیه، فرست‌کلس است یا نه|
|Vehicle|نوع وسیله نقلیه|
|Cancel|آیا بلیط کنسل شده‌است یا نه|
|HashPassportNumber_p|هش‌شده شماره پاسپورت|
|HashEmail|هش‌شده ایمیل|
|BuyerMobile|هش‌شده شماره موبایل|
|NationalCode|هش‌شده شماره‌ملی|
|TripReason|دلیل سفر|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    مجموعه داده آزمایش نیز مانند مجموعه آموزش است با این تفاوت که ستون <code>TripReason</code> که متغیر هدف مسئله است را در خود ندارد. مجموعه داده آزمایش ۴۳۲۹۳ سطر دارد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در ابتدا نیاز است فایل‌های مجموعه‌داده را بخوانید. نمونه‌های آموزشی در فایل <code>train.csv</code> و نمونه‌های آزمون که باید دسته‌ی آن‌ها را پیش‌بینی کنید در فایل <code>test.csv</code> ذخیره شده‌اند. اگر لازم دانستید می‌توانید به دلخواه خود بخشی از دادگان آموزشی را به عنوان دادگان اعتبارسنجی نیز جدا کنید.
</font>
</p>

In [2]:
train_data = pd.read_csv('../data/train_data.csv')
train_data

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-10-23 09:38:49.110,NaN,2022-11-02 23:59:00,39710203,1091777.0,5,122885.0,True,6600000.0,34425.0,...,1,NaN,False,Work,Plane,0,NaN,66c7f29e3b92f3b77e20830ac29e7758037a53d2238a5b...,764974891906,477368495
1,2022-08-15 14:51:43.160,NaN,2022-08-18 04:15:00,38689463,1070902.0,5,876925.0,True,9500000.0,0.0,...,1,NaN,False,Int,Plane,0,NaN,b24634843858a4175d03422aa9e7211ec3b9f3ce4c481c...,27479149496,15987669
2,2022-09-20 17:25:27.250,NaN,2022-09-21 11:00:00,39245173,7624237.0,3,916640.0,False,2000000.0,0.0,...,1,VIP 2+1,True,Work,Bus,0,NaN,NaN,323657282999,667640412
3,2022-06-25 11:32:53.980,NaN,2022-06-26 08:30:00,37957585,2867547.0,2,NaN,False,40000.0,0.0,...,1,3 ستاره اتوبوسي,NaN,Int,Train,0,NaN,NaN,169459057632,392476186
4,2022-06-01 11:30:53.633,NaN,2022-06-02 23:00:00,37584530,7212559.0,3,NaN,True,1130000.0,0.0,...,1,اسکانیا تک صندلی ۳۱نفره,True,Int,Bus,0,NaN,NaN,408595008421,79497837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101012,2022-06-01 00:20:14.280,NaN,2022-06-04 12:10:00,37579327,1050781.0,5,NaN,True,5900000.0,0.0,...,1,بوئینگ 737,False,Int,Plane,0,NaN,NaN,605105141718,103215806
101013,2022-10-29 20:54:31.330,NaN,2022-11-01 15:30:00,39789479,3085407.0,2,403095.0,True,926500.0,0.0,...,1,4 ستاره اتوبوسي نگين,NaN,Work,Train,0,NaN,NaN,414997568556,193262890
101014,2022-09-03 17:57:22.067,NaN,2022-09-13 09:30:00,38991563,2322052.0,5,528307.0,True,30000000.0,0.0,...,0,NaN,False,Int,InternationalPlane,0,47b8f2d9b5de7e0e0e7234c18a1aa0c4b35798e6cb46b4...,a4dcb7941ee3c8f7b1fc6a171015692bc961d65a84ad47...,99460830937,34732401
101015,2022-09-29 13:15:51.303,NaN,2022-09-29 17:30:00,39406503,7664730.0,3,797946.0,True,980000.0,0.0,...,1,25 نفره (VIP),True,Work,Bus,0,NaN,718bc52c3e88520531463b385998a1193e2821d518b60b...,487489926847,458338866
101016,2022-03-31 13:29:11.530,NaN,2022-04-05 17:10:00,36742809,2711094.0,2,NaN,True,3168000.0,0.0,...,1,4 ستاره 4 تخته ارگ,NaN,Work,Train,0,NaN,da0821178342aeaab37bb1e44c162660c7d3196ae2f987...,146462381941,999949622

In [3]:
test_data = pd.read_csv('../data/test_data.csv')
test_data

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,To,Domestic,VehicleType,VehicleClass,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-07-22 12:52:35.293,NaN,2022-08-03 17:00:00,38372770,7429183.0,3,NaN,False,1220000.0,0.0,...,اصفهان,1,ماهانVIP مانیتوردار کاوه,True,Bus,0,NaN,7ec2bc45a1a56014c60beb9e6ae72e748563f270b5961e...,855578545022,752371627
1,2022-05-16 10:55:29.397,2022-05-18 11:35:15.643,2022-05-19 17:00:00,37348034,7147402.0,5,NaN,True,2830000.0,0.0,...,قم,1,VIP 2+1 / سیستم تهویه مطبوع / تخت شو,True,Bus,1,NaN,09731a27ab7323fa8a65a5d61a6f6cdf5b127a5d89d1af...,687891042993,926996211
2,2022-02-13 16:10:33.870,NaN,2022-02-15 22:45:00,36058084,6817410.0,3,NaN,True,1480000.0,0.0,...,اردبیل,1,25 نفره (VIP),True,Bus,0,NaN,NaN,515831406373,890191812
3,2022-05-01 17:56:18.530,NaN,2022-05-06 14:30:00,37140430,7093047.0,3,NaN,False,2450000.0,0.0,...,شیراز,1,Scania VIP 2+1,True,Bus,0,NaN,NaN,349742111820,941450742
4,2022-05-19 18:40:48.760,NaN,2022-05-21 12:30:00,37393459,2789874.0,2,135424.0,True,1965500.0,0.0,...,تهران,1,3 ستاره 6 تخته كوير,NaN,Train,0,NaN,a9b7344fa6dffcd85117f3b4209a379600a66019dbfb57...,63387630789,575541645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43288,2022-10-06 16:57:16.053,NaN,2022-10-07 21:00:00,39515216,7693401.0,3,NaN,True,800000.0,0.0,...,زاهدان,1,classicus 2+2,True,Bus,0,NaN,084471d0e58161bf494c8d540208e17d2b3cb0ea3eff70...,793972140866,560495589
43289,2022-06-14 13:19:26.413,NaN,2022-06-18 07:15:00,37773311,1055789.0,5,NaN,False,7827000.0,0.0,...,تهران,1,NaN,False,Plane,0,NaN,NaN,574095530769,194295556
43290,2022-10-23 15:48:03.947,NaN,2022-10-23 20:25:00,39714891,7747506.0,3,NaN,False,370000.0,0.0,...,قم,1,مارال تک صندلی ۳۰نفره,True,Bus,0,NaN,NaN,82614935547,704290882
43291,2022-09-18 21:18:01.730,2022-09-19 15:40:44.707,2022-09-20 20:00:00,39215621,7620724.0,5,950877.0,True,2520000.0,0.0,...,مسجدسلیمان,1,VIP 2+1 / شارژر یو اس بی / سیستم تهویه مطبوع ...,True,Bus,1,NaN,57f1cffdba91d23d66f923c5defcd40caa8d317f8bcfbc...,242545550300,513968890
43292,2022-07-27 22:08:17.510,2022-07-30 19:19:29.357,2022-08-03 21:00:00,38449571,7451530.0,5,633165.0,True,2150000.0,0.0,...,تهران,1,VIP درسا مانیتوردار با پک بهداشتی,True,Bus,1,NaN,NaN,965279078669,20749399

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش و مهندسی ویژگی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این سوال شما می‌توانید از هر تکنیک پیش‌پردازش/مهندسی ویژگی که در فصل‌های گذشته آموختید، استفاده کنید.
    <br>
    تکنیک‌هایی که استفاده می‌کنید به شکل مستقیم مورد ارزیابی توسط سامانه داوری قرار <b>نمی‌گیرند.</b> بلکه همه آن‌ها در دقت مدل شما تاثیر خواهند گذاشت؛ بنابراین هر چه پیش‌پردازش/مهندسی ویژگی بهتری انجام دهید تا دقت مدل بهبود پیدا کند، امتیاز بیشتری از این سوال کسب خواهید کرد.
</font>
</p>

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101017 entries, 0 to 101016
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Created               101017 non-null  object
 1   CancelTime            15326 non-null   object
 2   DepartureTime         101017 non-null  object
 3   BillID                101017 non-null  int64
 4   TicketID              101017 non-null  float64
 5   ReserveStatus         101017 non-null  int64
 6   UserID                42543 non-null   float64
 7   Male                  101017 non-null  bool
 8   Price                 101017 non-null  float64
 9   CouponDiscount        101017 non-null  float64
 10  From                  101017 non-null  object
 11  To                    101017 non-null  object
 12  Domestic              101017 non-null  int64
 13  VehicleType           93473 non-null   object
 14  VehicleClass          62567 non-null   object
 15  TripReason            101017 non-null  object
 16  Vehicle               101017 non-null  object
 17  Cancel                101017 non-null  int64
 18  HashPassportNumber_p  862 non-null     object
 19  HashEmail             43084 non-null   object
 20  BuyerMobile           101017 non-null  int64
 21  NationalCode          101017 non-null  int64
dtypes: bool(1), float64(4), int64(6), object(11)
memory usage: 16.3+ MB

In [5]:
#drop some columns from dataFrame
droped_columns = ['HashEmail', 'HashPassportNumber_p', 'UserID', 'TicketID', 'BillID']
train_data.drop(columns= droped_columns, inplace=True)
test_data.drop(columns= droped_columns, inplace=True)

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101017 entries, 0 to 101016
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Created         101017 non-null  object
 1   CancelTime      15326 non-null   object
 2   DepartureTime   101017 non-null  object
 3   ReserveStatus   101017 non-null  int64
 4   Male            101017 non-null  bool
 5   Price           101017 non-null  float64
 6   CouponDiscount  101017 non-null  float64
 7   From            101017 non-null  object
 8   To              101017 non-null  object
 9   Domestic        101017 non-null  int64
 10  VehicleType     93473 non-null   object
 11  VehicleClass    62567 non-null   object
 12  TripReason      101017 non-null  object
 13  Vehicle         101017 non-null  object
 14  Cancel          101017 non-null  int64
 15  BuyerMobile     101017 non-null  int64
 16  NationalCode    101017 non-null  int64
dtypes: bool(1), float64(2), int64(5), object(9)
memory usage: 12.4+ MB

In [7]:
train_data['TripReason'].value_counts()

Work    56448
Int     44569
Name: TripReason, dtype: int64

The data is balanced

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مدل‌سازی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    حال که داده را پاکسازی کرده و احتمالا ویژگی‌هایی را به آن افزوده یا از آن حذف کرده‌اید، وقت آن است که مدلی آموزش دهید که بتواند متغیر هدف این مسئله را پیش‌بینی کند.
    <br>
    بر خلاف سایر تمرین‌های کالج، در این تمرین شما مجاز هستید از هر مدلی که آموخته‌اید استفاده کنید. به عبارت بهتر، هدف این سوال پیش‌بینی هرچه بهتر متغیر هدف مسئله است. انتظار ما این است که نحوه کار با کتابخانه‌های یادگیری ماشین را در حدی آموخته باشید که بتوانید با بهترین عملکرد، مسئله را حل کنید!
</font>
</p>

In [8]:
import h2o
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 17.0.11+7-LTS-207, mixed mode, sharing)
  Starting server from E:\ML2\qenv\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\Poumi008\AppData\Local\Temp\tmpi9gxs1_2
  JVM stdout: C:\Users\Poumi008\AppData\Local\Temp\tmpi9gxs1_2\h2o_Poumi008_started_from_python.out
  JVM stderr: C:\Users\Poumi008\AppData\Local\Temp\tmpi9gxs1_2\h2o_Poumi008_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.
Warning: Your H2O cluster version is too old (1 year, 9 months and 7 days)!Please download and install the latest version from http://h2o.ai/download/

--------------------------  -------------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       Asia/Tehran
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.4
H2O_cluster_version_age:    1 year, 9 months and 7 days !!!
H2O_cluster_name:           H2O_from_python_Poumi008_vlvi8d
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.852 Gb
H2O_cluster_total_cores:    16
H2O_cluster_allowed_cores:  16
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.9.7 final
--------------------------  -------------------------------

In [20]:
hf_train = h2o.H2OFrame(train_data)
hf_test = h2o.H2OFrame(test_data)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [13]:
from h2o.estimators import H2ORandomForestEstimator
model = H2ORandomForestEstimator(ntrees = 1, sample_rate = 1, mtries = -2, max_depth = 10,
                                 min_rows = 40, min_split_improvement = 1e-4, nfolds = 5)

In [15]:
target = 'TripReason'
featurs = hf_train.columns
featurs.remove(target)

In [17]:
model.train(x=featurs, y = target, training_frame = hf_train)

drf Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  DRF_model_python_1715380883326_1


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,1.0,1.0,13553.0,10.0,10.0,10.0,393.0,393.0,393.0

ModelMetricsBinomial: drf
** Reported on train data. **

MSE: NaN
RMSE: NaN
LogLoss: NaN
Mean Per-Class Error: NaN
AUC: NaN
AUCPR: NaN
Gini: NaN

ModelMetricsBinomial: drf
** Reported on cross-validation data. **

MSE: 0.166025355906721
RMSE: 0.40746209137381234
LogLoss: 0.5786441777117921
Mean Per-Class Error: 0.261161329191904
AUC: 0.8257613518821412
AUCPR: 0.831302192204017
Gini: 0.6515227037642823

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.39248310847292756:

              Int     Work   Error                 Rate
0    Int  25978.0  18591.0  0.4171    (18591.0/44569.0)
1   Work   5938.0  50510.0  0.1052     (5938.0/56448.0)
2  Total  31916.0  69101.0  0.2428   (24529.0/101017.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.392483      0.804626  253.0
1                        max f2   0.172565      0.878935  329.0
2                  max f0point5   0.625339      0.788847  164.0
3                  max accuracy   0.511689      0.764703  209.0
4                 max precision   0.978353      0.915329    8.0
5                    max recall   0.000000      1.000000  399.0
6               max specificity   1.000000      0.996724    0.0
7              max absolute_mcc   0.511689      0.519829  209.0
8    max min_per_class_accuracy   0.594524      0.754500  178.0
9   max mean_per_class_accuracy   0.542313      0.756509  199.0
10                      max tns   1.000000  44423.000000    0.0
11                      max fns   1.000000  55134.000000    0.0
12                      max fps   0.000000  44569.000000  399.0
13                      max tps   0.000000  56448.000000  399.0
14                      max tnr   1.000000      0.996724    0.0
15                      max fnr   1.000000      0.976722    0.0
16                      max fpr   0.000000      1.000000  399.0
17                      max tpr   0.000000      1.000000  399.0

Gains/Lift Table: Avg response rate: 55.88 %, avg score: 55.96 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.014453,1.000000,1.610603,1.610603,0.900000,1.000000,0.900000,1.000000,0.023278,0.023278,61.060268,61.060268,0.020002
1,2,0.020323,0.984127,1.686953,1.632656,0.942664,0.989225,0.912323,0.996888,0.009903,0.033181,68.695315,63.265618,0.029142
2,3,0.030876,0.970339,1.630076,1.631774,0.910882,0.975581,0.911831,0.989606,0.017202,0.050383,63.007630,63.177444,0.044212
3,4,0.040409,0.955975,1.637177,1.633049,0.914849,0.963451,0.912543,0.983436,0.015607,0.065990,63.717660,63.304888,0.057980
4,5,0.050170,0.935484,1.579022,1.622538,0.882353,0.946437,0.906669,0.976237,0.015412,0.081402,57.902223,62.253778,0.070790
5,6,0.101042,0.903647,1.563905,1.593017,0.873905,0.915431,0.890173,0.945623,0.079560,0.160962,56.390492,59.301742,0.135810
6,7,0.162676,0.882831,1.588355,1.591251,0.887568,0.888236,0.889186,0.923881,0.097895,0.258858,58.835536,59.125110,0.218000
7,8,0.203164,0.848761,1.517406,1.576535,0.847922,0.862062,0.880963,0.911561,0.061437,0.320295,51.740562,57.653453,0.265481
8,9,0.300593,0.799731,1.459903,1.538732,0.815789,0.824064,0.859839,0.883201,0.142237,0.462532,45.990301,53.873156,0.367040
9,10,0.400279,0.742878,1.363939,1.495201,0.762165,0.769133,0.835514,0.854793,0.135966,0.598498,36.393860,49.520083,0.449268
10,11,0.502321,0.629761,1.239913,1.443341,0.692860,0.689846,0.806535,0.821286,0.126524,0.725021,23.991337,44.334140,0.504756
11,12,0.602384,0.519176,1.032342,1.375070,0.576870,0.570865,0.768385,0.779688,0.103299,0.828320,3.234228,37.507006,0.512091
12,13,0.701496,0.342128,0.793254,1.292867,0.443268,0.430979,0.722450,0.730420,0.078621,0.906941,-20.674583,29.286721,0.465648
13,14,0.801350,0.194416,0.479723,1.191543,0.268068,0.261378,0.665831,0.671974,0.047902,0.954843,-52.027696,19.154312,0.347897
14,15,0.902274,0.101695,0.289454,1.090640,0.161746,0.149000,0.609446,0.613477,0.029213,0.984056,-71.054615,9.064016,0.185362
15,16,1.000000,0.000000,0.163149,1.000000,0.091167,0.062204,0.558797,0.559603,0.015944,1.000000,-83.685143,0.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.757598,0.001987,0.760057,0.757194,0.758956,0.754915,0.756867
1,auc,0.825766,0.002137,0.828079,0.825628,0.826248,0.826574,0.822299
2,err,0.242402,0.001987,0.239943,0.242806,0.241044,0.245085,0.243133
3,err_count,4897.200000,20.583975,4873.000000,4919.000000,4878.000000,4912.000000,4904.000000
4,f0point5,0.759051,0.002003,0.761282,0.757373,0.760251,0.756551,0.759798
5,f1,0.804974,0.002084,0.807581,0.805335,0.801804,0.804645,0.805505
6,f2,0.856830,0.004979,0.859877,0.859782,0.848161,0.859269,0.857063
7,lift_top_group,1.605924,0.034964,1.632360,1.646190,1.568612,1.610538,1.571919
8,logloss,0.578664,0.017158,0.588290,0.554881,0.568504,0.583068,0.598579
9,max_per_class_error,0.416923,0.014125,0.416573,0.423420,0.393283,0.430357,0.420981
10,mcc,0.511124,0.004353,0.515892,0.511921,0.514434,0.505660,0.507715
11,mean_per_class_accuracy,0.739185,0.003702,0.741050,0.738471,0.744440,0.734822,0.737142
12,mean_per_class_error,0.260815,0.003702,0.258950,0.261529,0.255560,0.265178,0.262858
13,mse,0.166027,0.000900,0.164751,0.166154,0.166103,0.165850,0.167275
14,pr_auc,0.831204,0.004017,0.835828,0.831979,0.825669,0.833713,0.828833
15,precision,0.731247,0.003133,0.733257,0.728451,0.734863,0.727560,0.732103
16,r2,0.326545,0.003987,0.331272,0.326375,0.328123,0.326634,0.320323
17,recall,0.895293,0.007610,0.898673,0.900363,0.882164,0.900000,0.895266
18,rmse,0.407463,0.001104,0.405895,0.407620,0.407558,0.407247,0.408993
19,specificity,0.583077,0.014125,0.583427,0.576580,0.606717,0.569643,0.579019

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2024-05-11 03:20:11,4.399 sec,0.0,NaN,NaN,NaN,NaN,NaN,NaN

Variable Importances:

          variable  relative_importance  scaled_importance  percentage
0               To          4389.505371           1.000000    0.479236
1             From          3875.511719           0.882904    0.423119
2             Male           417.642883           0.095146    0.045597
3      VehicleType           218.087357           0.049684    0.023810
4          Vehicle           129.084106           0.029407    0.014093
5     VehicleClass            32.494175           0.007403    0.003548
6      BuyerMobile            22.247545           0.005068    0.002429
7    ReserveStatus            19.524340           0.004448    0.002132
8    DepartureTime            14.402407           0.003281    0.001572
9           Cancel            11.156940           0.002542    0.001218
10      CancelTime             8.941689           0.002037    0.000976
11           Price             8.780337           0.002000    0.000959
12         Created             6.310536           0.001438    0.000689
13    NationalCode             5.270913           0.001201    0.000575
14  CouponDiscount             0.425850           0.000097    0.000046
15        Domestic             0.000000           0.000000    0.000000

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معیار ارزیابی
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    معیاری که برای ارزیابی عملکرد مدل انتخاب کرده‌ایم، <code>f1_score</code> نام دارد.
    <br>
    این معیار، سنجه ارزیابی کیفیت مدل شماست. به عبارت بهتر در سامانه داوری هم از همین معیار برای نمره‌دهی استفاده شده است.
    <br>
    پیشنهاد می‌شود با توجه به این معیار، عملکرد مدل خود را بر روی مجموعه داده آموزش یا اعتبارسنجی ارزیابی کنید.
</font>
</p>

In [35]:
# evaluate model
from sklearn.metrics import  f1_score, classification_report, confusion_matrix

f1_score(train_data[target], model.predict(hf_train).as_data_frame().iloc[:,0], average='weighted')

drf prediction progress: |

███████████████████████████████████████████████████████| (done) 100%

0.7748499789864514

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font color="red"><b color='red'>توجه:</b></font>
<font face="vazir" size=3>
 جهت کسب امتیاز کامل نیاز است تا پاسخ شما حداقل امتیاز <code>75%</code> را با توجه به معیار معرفی‌شده کسب نماید.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 پیش‌بینی برای داده تست و خروجی
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    پس از مهندسی ویژگی و مدلسازی، الگوریتمی دارید که می‌تواند شما را از متغیرهای مستقل به متغیر هدف برساند.
    <br>
    از این مدل برای پیش‌بینی نمونه‌های موجود در داده تست استفاده کنید و نتایج را در قالب جدول (<code>dataframe</code>) زیر آماده کنید.
</font>
</p>

<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|------|---|
|TripReason|دلیل سفر|
    
</font>
</div>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    اسم دیتافریم باید <i>submission</i> باشد؛ در غیر این صورت، سامانه داوری نمی‌تواند تلاش‌ شما را ارزیابی کند.
    <br>
    این دیتافریم تنها شامل ۱ ستون با اسم <i>TripReason</i> است و ۴۳۲۹۳ سطر دارد.
    <br>
    به ازای هر سطر موجود در دیتافریم <i>test</i> شما باید یک مقدار پیشبینی شده داشته باشید.
    <br>
    جدول زیر، ۵ سطر ابتدایی دیتافریم <code>submission</code> را نشان می‌دهد. البته در جواب شما، مقادیر ستون <i>TripReason</i> ممکن است متفاوت باشد.
</font>
</p>

<div style="text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
||TripReason|
|----|-----|
|0|Work|
|1|Work|
|2|Int|
|3|Int|
|4|Work|

</font>
</div>

In [38]:
# predict test samples
submission = pd.DataFrame()
submission['TripReason'] = model.predict(hf_test).as_data_frame().iloc[:, 0]
submission

drf prediction progress: |

███████████████████████████████████████████████████████| (done) 100%

e:\ML2\qenv\lib\site-packages\h2o\job.py:83: UserWarning: Test/Validation dataset column 'From' has levels not trained on: ["Ø¨Ø§Ú©Ùˆ", "Ø¯Ø±Ú¯Ø²", "Ø±Ù…", "Ø´Ø§Ø±Ø¬Ù‡", "Ù…Ù„Ø§Ø±Ø¯", "Ù…Ù‡Ø§Ø¨Ø§Ø¯", "Ù¾Ø§Ø±Ø³ÛŒØ§Ù†", "Ù¾Ø§Ø±ÛŒØ³"]
  warnings.warn(w)
e:\ML2\qenv\lib\site-packages\h2o\job.py:83: UserWarning: Test/Validation dataset column 'To' has levels not trained on: ["Ø¢Ù…Ø³ØªØ±Ø¯Ø§Ù…", "Ø§Ø´ØªÙˆØªÚ¯Ø§Ø±Øª", "Ø¨Ø®Ø§Ø±Ø³Øª", "Ø¨Ø±Ú¯Ø§Ù…Ùˆ", "Ø¨Ù‡Ø§Ø¨Ø§Ø¯", "ØªÚ©Ø§Ø¨ (Ø¢Ø°Ø±Ø¨Ø§ÛŒØ¬Ø§Ù† ØºØ±Ø¨ÛŒ )", "Ø±ÙˆØ¯Ø§Ù† (Ù‡Ø±Ù…Ø²Ú¯Ø§Ù† )", "Ù�Ø§Ø±ÙˆØ¬", "Ù…ÙˆÙ†ØªØ±Ø¢Ù„", "Ù…ÛŒÙ„Ø§Ù†", "ÙˆÛŒÙ†", "Ù¾Ø±Ø§Ú¯"]
  warnings.warn(w)
e:\ML2\qenv\lib\site-packages\h2o\job.py:83: UserWarning: Test/Validation dataset column 'VehicleType' has levels not trained on: ["( MAN (V.I.P", "(VIP)Ù…Ø§Ø±Ø§Ù„(Ø¬Ø¯ÛŒØ¯)Ú©Ù„Ø§Ø³ ØªØ®Øª Ø´ÙˆØ¨Ø§Ø§ÛŒÙ†ØªØ±Ù†Øª Ù¾Ø±Ø³Ø±Ø¹Øª ÙˆØ´Ø§Ø±Ú˜Ø±Ø§Ø®ØªØµØ§ØµÛŒ Ù‡Ø±Ù¾Ù†Ø¬ Ø³Ù�Ø±Ø¨Ù„ÛŒØ· Ø§ÛŒÙ†ØªØ±Ù†ØªÛŒ ÛŒÚ© Ø³Ù�Ø±Ø±Ø§ÛŒÚ¯Ø§Ù†", "*** (DORSA.VIP) (Ù…Ø§Ù†ÛŒØªÙˆØ± Ø§Ø®ØªØµØ§ØµÛŒ)", "-VIPÙ…Ø¬Ù‡Ø²Ø¨Ù‡ Ù…Ø§Ù†ÛŒØªÙˆØ±-Ø§ÛŒÙ†ØªØ±Ù†Øª Ø´Ø§Ø±Ú˜Ø±Ú©Ø¯Û°Û²Û¶--", "25VIPÙ†Ù�Ø±Ù‡ Ù…Ø§Ø±Ø§Ù„ Ù…Ø¬Ù‡Ø²Ø¨Ù‡ Ø§ÛŒÙ†ØªØ±Ù†Øª Ù‡Ù…Ø±Ø§Ù‡ Ø¨Ø§Ø´Ø§Ø±Ú˜Ø±Ø§Ø®ØªØµØ§ØµÛŒ/Ù‡Ø±Û·Ø¨Ù„ÛŒØ· ÛŒÙ‡ Ø³Ù�Ø± Ø±Ø§ÛŒÚ¯Ø§Ù†/", "25Ù†Ù�Ø±Ù‡ VIPÙ…Ø§Ø±Ø§Ù„", "44Ù†Ù�Ø±Ù‡ VOLVO   (Ù…Ø­Ù„ Ø³ÙˆØ§Ø±Ø´Ø¯Ù† ØªØ±Ù…ÛŒÙ†Ø§Ù„ ØªÙ¾Ù‡", "4Ø³ØªØ§Ø±Ù‡ 4ØªØ®ØªÙ‡ Ø³Ø±ÙˆØ´", "B9-VIP", "BENZ CLASSICUS 2+2  / Ø³ÛŒØ³ØªÙ… ØªÙ‡ÙˆÛŒÙ‡ Ù…Ø·Ø¨ÙˆØ¹ / ØªØ®Øª Ø´Ùˆ", ...270 not listed..., "ÙˆÛŒ-Ø¢ÛŒ-Ù¾ÛŒ-Û²ÛµÙ†Ù�Ø±", "ÙˆÛŒâ€ŒØ¢ÛŒâ€ŒÙ¾ÛŒ 34 Ù†Ù�Ø±Ù‡", "Ú©Ù„Ø§Ø³ÛŒÚ© ØªÚ© ØµÙ†Ø¯Ù„ÛŒ 32 Ù†Ù�Ø±Ù‡", "Ú©Ù„Ø§Ø³ÛŒÚ© Ù…Ø§Ø±Ø§Ù„ ØªÚ© ØµÙ†Ø¯Ù„ÛŒÛ³Û² Ù†Ù�Ø±Ù‡", "Ú©Ù„Ø§Ø³ÛŒÚ©31", "Ú©Ù„Ø§Ø³ÛŒÚ©Û´ÛµÙ†Ù�Ø±Ù‡", "Û²ÛµÙ†Ù�Ø±Ù‡ ØªØ®Øª Ø´Ùˆ", "Û²Û¹VIPÙ†Ù�Ø±Ù‡ Ù‡Ù…Ø¯Ø§Ù†", "Û³Û°Ù†Ù�Ø±Ù‡ Ù…Ø§Ø±Ø§Ù„VIP (Ù‡Ù…Ø³Ù�Ø±)", "Û´Û´ Ù†Ù�Ø±Ù‡"]
  warnings.warn(w)

      TripReason
0           Work
1            Int
2           Work
3           Work
4           Work
...          ...
43288       Work
43289       Work
43290        Int
43291       Work
43292       Work

[43293 rows x 1 columns]

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [39]:
import zipfile
import joblib

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)
            
submission.to_csv('submission.csv', index=False)
file_names = ['tafrihi.ipynb', 'submission.csv']
compress(file_names)

File Paths:
['tafrihi.ipynb', 'submission.csv']